.user-form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    background: rgba(148, 149, 148, 0.18);
    border-radius: 18px;
    box-shadow: 0 8px 24px rgba(148, 149, 148, 0.18);
    width: 400px;
    align-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}

input {
    padding: 4px;
    border: 2px solid green;
    box-shadow: 0 8px 16px rgba(2, 196, 48, 0.49);
    height: 48px;
    border-radius: 16px;
    margin-bottom: 8px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 8px;
}

.nav-back {
    margin: 8px;
    height: 40px;
    border-radius: 16px;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(31, 146, 31);
    border: none;
    box-shadow: 0 8px 16px rgb(14, 155, 12);
}

.user-add{
    margin: 8px;
    height: 40px;
    width: 90%;
    border-radius: 16px;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(31, 146, 31);
    border: none;
    box-shadow: 0 8px 16px rgb(14, 155, 12);
}

.header {
    display: flex;
    height: 85px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 8px 12px rgba(148, 149, 148, 0.18);
    padding: 12x;
    margin: 8px;
    border-radius: 8px;
    align-items: center;
    background-color: beige;
}

